# DATABASE CONFIG
DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_NAME=
SECRET_KEY=

# MINIO CONFIG
MINIO_ENDPOINT=
MINIO_PORT=
MINIO_USE_SSL=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=

# FILE LIMIT IN MB
IMAGE_SIZE_LIMIT=
VIDEO_SIZE_LIMIT=